In [2]:
import pandas as pd

In [1]:
filepath = 'prospectsclients.xlsx'
columns_to_inspect = ["NOM NETTOYE", "nom_client", "adresse (si présente dans factures)", "responsable", "telephone", "email"]
columns_to_sort = ["CODE CE", "code_postal"]
group_by = "CODE CE" #those with same values for column are grouped
sheet_name = "CLIENTS (BI WeDev)"
header = 0 #row with column titles

In [6]:
datas = pd.read_excel(filepath, sheet_name = sheet_name, header = header)

In [7]:
columns = [col for col in datas]
print(columns)

['CODE CE', 'PIVOT', 'NOM NETTOYE', 'CP COMPLÉTÉ', 'client_id', 'segclient_id', 'CODE 4', 'site_id', 'zone_cvt', 'zone_cvt_id', 'zone_tfr', 'zone_tfr_id', 'region_tfr', 'region_tfr_id', 'groupe', 'groupe_id', 'CODE 2', 'concession_id', 'nom_client', 'client_id.1', 'adresse (si présente dans factures)', 'responsable', 'telephone', 'email', 'code_postal', "ville sans - ni ' , SAINT  à la place de ST, ni cedex, ni chiffres, ni double espace, ni espace à la fin", 'Ville initiale', 'client_partenaire', 'sum', 'ID CLIENT A SUPPRIMER', 'flag nom simplifié', 'flag nom_client']

In [8]:
datas = datas.sort_values(columns_to_sort)

In [9]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25926 entries, 10 to 25821
Data columns (total 32 columns):
 #   Column                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                    --------------  -----
 0   CODE CE                                                                                                   25926 non-null  int64
 1   PIVOT                                                                                                     25926 non-null  object
 2   NOM NETTOYE                                                                                               25895 non-null  object
 3   CP COMPLÉTÉ                                                                                               25925 non-null  object
 4   client_id                                                                                                 25926 non-null  int64
 5   segclient_id                                                                                              25926 non-null  int64
 6   CODE 4                                                                                                    25926 non-null  int64
 7   site_id                                                                                                   25926 non-null  int64
 8   zone_cvt                                                                                                  23015 non-null  object
 9   zone_cvt_id                                                                                               23015 non-null  float64
 10  zone_tfr                                                                                                  25710 non-null  object
 11  zone_tfr_id                                                                                               25710 non-null  float64
 12  region_tfr                                                                                                25710 non-null  float64
 13  region_tfr_id                                                                                             25710 non-null  float64
 14  groupe                                                                                                    19959 non-null  object
 15  groupe_id                                                                                                 19959 non-null  float64
 16  CODE 2                                                                                                    25926 non-null  int64
 17  concession_id                                                                                             25926 non-null  int64
 18  nom_client                                                                                                25924 non-null  object
 19  client_id.1                                                                                               25926 non-null  int64
 20  adresse (si présente dans factures)                                                                       15335 non-null  object
 21  responsable                                                                                               5715 non-null   object
 22  telephone                                                                                                 12410 non-null  object
 23  email                                                                                                     5047 non-null   object
 24  code_postal                                                                                               21254 non-null  float64
 25  ville sans - ni ' , SAINT  à la place de ST, ni cedex, ni chiffres, ni double espace, ni espace à la fin  23796 non-null  object
 26  Ville initiale                                                                                            18039 non-null  object
 27  client_partenaire                                                                                         25926 non-null  object
 28  sum                                                                                                       25926 non-null  float64
 29  ID CLIENT A SUPPRIMER                                                                                     1 non-null      float64
 30  flag nom simplifié                                                                                        4538 non-null   float64
 31  flag nom_client                                                                                           1410 non-null   float64
dtypes: float64(10), int64(8), object(14)
memory usage: 6.5+ MB

In [10]:
unique_values = datas[group_by].unique() #pour faire des groupes pas code ce

In [11]:
unique = unique_values[0]

In [12]:
group = datas.loc[datas[group_by] == unique]